<h1>Bookmarks</h1>

<select>
<% @categories.each do |category| %>
  <option><%= category.name%></option>
<% end %>
</select>

<ul>
  <% @links.each do |link| %>
    <li>
      url: <%= link.url %><br/>
      title: <%= link.title %>
    </li>
  <% end %>
</ul>
