<%= render 'links/preview' %>

<div class="center">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg signup-modal-link">
    Register
  </button>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg login-modal-link">
    Login
  </button>
</div>

<%= render 'links/modal' %>
