<div class="row pad45">
  <h1 class="center">Bookmarks</h1>
			
				<div class="col-md-4">
					<h2>Find something interesting</h2>
					<p>
						Ecilisis venenatis risus, suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy elementum phasellus. Mauris sed nulla sed, 
						egestas feugiat a dictum libero, nunc sapien tristique facilisis commodo cursus egestas et.
					</p>
					<div class="pad15"></div>
						<div class="hover_colour">
							<a href="img/large/services_1.jpg" rel="prettyPhoto[portfolio1]">
                                                          <%= image_tag 'services_2.jpg' %>
                                                        </a>
						</div> 
					<div class="pad45"></div>
				</div> 
					
				<div class="col-md-4">
					<h2>Save it</h2>
					<p>
						Ecilisis venenatis risus, suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy elementum phasellus. Mauris sed nulla sed, 
						egestas feugiat a dictum libero, nunc sapien tristique facilisis commodo cursus egestas et.
					</p>
					<div class="pad15"></div>
						<div class="hover_colour">
							<a href="img/large/services_1.jpg" rel="prettyPhoto[portfolio1]">
                                                          <%= image_tag 'services_2.jpg' %>
                                                        </a>
						</div>
					<div class="pad45"></div>
				</div> 
						
				<div class="col-md-4">
					<h2>Each saturday get email</h2>
					<p>
						Ecilisis venenatis risus, suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy elementum phasellus. Mauris sed nulla sed, 
						egestas feugiat a dictum libero, nunc sapien tristique facilisis commodo cursus egestas et.
					</p>
					<div class="pad15"></div>
					<div class="hover_colour">
							<a href="img/large/services_1.jpg" rel="prettyPhoto[portfolio1]">
                                                          <%= image_tag 'services_2.jpg' %>
                                                        </a>
					</div>
					<div class="pad45"></div>
				</div>
			</div>
