/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 *= require theme
 *= require timeline
 *= require jquery.dynatable
 */

html,
body {
  height: 100%;
}
#main-content {
  min-height: 100%;
}

.hFooter {
  height: 70px;
}

#footer {
  height: 70px;
  margin-top: -70px;
  a { color: #555 }
}

.extra-vertical-space {
  padding: 40px 0;
}

#logo {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.auth-modal {
  .modal-body {
    input[type=text], 
    input[type=password],
    input[type=email] {
      width: 100%;
    }
  }
}

.h-modal-body {
  padding: 0 100px;
}

.centered {
  text-align: center;
}

.righted {
  text-align: right;
}

.lefted {
  text-align: left;
}

.cbp_tmtimeline .yellow {

  .cbp_tmlabel a {
    color: #444; 
  }

  .fa-times-circle {
    position: absolute; 
    right: 0; 
    top: 0; 
    padding: 7px 5px 0; 
    cursor: pointer; 
  }
}

.categories-table {
  width: 320px !important;
  thead {
    th { color: white; } 
  }
}
